<h1 class="h3 mb-3">Profile</h1>
<div class="row">
  <div class="col-12">
    <app-card cardTitle="Profile Settings">
      <form *ngIf="settings; else loading" [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 error-placeholder">
          <label>Reset Password</label>
          <p>
            Our IAM provider, Auth0, will send an email with instructions for setting a new password.
          </p>
          <button (click)="resetPassword()" class="btn btn-secondary" type="button">Reset Password</button>
        </div>
        <div class="mb-3 error-placeholder">
          <label>Preferred Weight Unit</label>
          <br>
          <label class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="preferredWeightUnit" value="lbs" formControlName="preferredWeightUnit">
            <span class="form-check-label">
              lbs
            </span>
          </label>
          <label class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="preferredWeightUnit" value="kg" formControlName="preferredWeightUnit">
            <span class="form-check-label">
              kg
            </span>
          </label>
        </div>
        <div class="mb-3 error-placeholder">
          <label>Communication Preferences</label><br>
          <label class="form-check m-0">
            <input type="checkbox" class="form-check-input" id="consentCEM" formControlName="consentCEM">
            <span class="form-check-label">I would like to receive promotional emails from Strength Journal</span>
          </label>
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-primary" >Save</button>
          <button class="btn btn-warning" routerLink="/">Cancel</button>
        </div>
      </form>
      <ng-template #loading>
        <div class="mb-2 text-center">
          <div class="spinner-grow me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
    </app-card>
  </div>
</div>