<div *ngIf="workoutActivities; else loading">
  <div class="flex-grow-1" *ngFor="let workout of workoutActivities">
    <small class="float-end">Workout logged</small>
    <strong>{{ workout.title.length > 0 ? workout.title : 'Untitled Workout' }}</strong><br>
    <small class="text-muted">{{ workout.entryDateUTC | date }}</small><br>
    <ul style="list-style-type: none; padding: 0; margin: 0;">
      <li *ngFor="let set of workout.sets">
        {{ set.exerciseName }} {{ set.weight ? set.weight : '?' }} {{ set.weightUnit }} x {{ set.reps ? set.reps : '?' }} x {{ set.sets }}
      </li>
    </ul>
    <div class="border text-muted p-2 mt-1 mb-2" *ngIf="workout.notes.length > 0">
      <pre style="font-size: 100%;">{{ workout.notes }}</pre>
    </div>
    <hr>
  </div>
  <div *ngIf="loadingMore" class="mb-2 text-center">
    <div class="spinner-grow me-2" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="d-grid">
    <a (click)="loadMore()" class="btn btn-primary" [class.disabled]="loadingMore || noMoreRecords">Load more</a>
  </div>
</div>
<ng-template #loading>
  <div class="mb-2 text-center">
    <div class="spinner-grow me-2" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>