@model SubmitLoginModel
@{
}
<p>Processing..</p>

<script>
var appUserName = '@Model.UserName';
var appToken = '@Model.Token';
localStorage.setItem('app_username', appUserName);
localStorage.setItem('app_token', appToken);
window.location.replace('/app');
</script>