@model SubmitLoginModel
@{
}
<div class="main d-flex justify-content-center w-100">
		<main class="content d-flex p-0">
			<div class="container d-flex flex-column">
				<div class="row h-100">
					<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
						<div class="d-table-cell align-middle">

							<div class="text-center">
								<h1 class="fw-bold">
									Login Successful
								</h1>
								<p class="h2">Redirecting you to your dashboard...</p>
								<div class="spinner-border text-dark me-2" style="width: 50px; height: 50px; margin-top: 50px"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

@if(!Model.SuppressRedirect)
{
    <script>
		var configJson = '@Html.Raw(Model.ConfigJson)'
        var appUserName = '@Model.UserName';
        var appToken = '@Model.Token';
        localStorage.setItem('app_username', appUserName);
        localStorage.setItem('app_token', appToken);
		localStorage.setItem('app_config', configJson);
        window.location.replace('/app');
    </script>
}