<div class="sidebar-content js-simplebar">
  <a class="sidebar-brand" routerLink="/">
    <object data="assets/white_logo_transparent.svg" width="200" height="100"> </object>
  </a>

  <ul class="sidebar-nav">
    <li class="sidebar-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
      <a class="sidebar-link">
        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
      </a>
    </li>

    <li class="sidebar-item" routerLink="workouts" routerLinkActive="active">
      <a class="sidebar-link">
        <i class="align-middle" data-feather="book"></i> <span class="align-middle">Workouts</span>
      </a>
    </li>

    <li class="sidebar-item" routerLink="exercises" routerLinkActive="active">
      <a class="sidebar-link" >
        <i class="align-middle" data-feather="heart"></i> <span class="align-middle">Exercises</span>
      </a>
    </li>

    <li class="sidebar-item" routerLink="profile" routerLinkActive="active">
      <a class="sidebar-link" >
        <i class="align-middle" data-feather="users"></i> <span class="align-middle">Profile</span>
      </a>
    </li>

    <li class="sidebar-item" (click)="logout()">
      <a class="sidebar-link" >
        <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Logout</span>
      </a>
    </li>

  </ul>
</div>