<h1 class="h3 mb-3">Dashboard</h1>
<div class="row">

  <div class="col-12">
    <app-card cardTitle="Workouts">
      <p>Start logging a new workout, dated without the current time.</p>
      <div class="mt-auto">
        <a class="btn btn-lg btn-primary" routerLink="workouts/new">Log New Workout</a>
      </div>
    </app-card>
  </div>

  <div class="col-12 col-lg-6">
    <app-card cardTitle="Weekly Volume Report" >
      <canvas id="volume-chart">
      </canvas>
      <ng-template *ngIf="!volumeChartLoaded">
        <div class="mb-2 text-center">
          <div class="spinner-grow me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
    </app-card>
  </div>

  <div class="col-12 col-lg-6">
    <app-card cardTitle="Weekly SBD Tonnage Report">
      <canvas id="tonnage-chart">
      </canvas>
      <ng-template *ngIf="!tonnageChartLoaded">
        <div class="mb-2 text-center">
          <div class="spinner-grow me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
    </app-card>
  </div>

</div>