.drag-transparent {
  opacity: 0.5;
}

.drag-border {
  border: 3px dotted #666;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  border-width: 3px;
  padding-right: calc(1.5em + 0.75rem);
}

.editRow {
  padding: 0.1rem;
}