<h1 class="h3 mb-3">Editing workout entry for {{workout.entryDateUTC | date:'short'}}</h1>
<div class="row">
  <div class="col-12">
    <app-card cardTitle="Workout Sets">
      <div [formGroup]="sharedSetForm">
        <label class="form-check form-check-inline">Weight unit:</label>
        <label class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="weightUnit" value="lbs" formControlName="weightUnit">
          <span class="form-check-label">
            lbs
          </span>
        </label>
        <label class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="weightUnit" value="kg" formControlName="weightUnit">
          <span class="form-check-label">
            kg
          </span>
        </label>
      </div>
      <div *ngIf="!loadingSets && !loadingExercises && workout; else loading" >
        <table  class="table table-striped dataTable no-footer dtr-inline collapsed">
          <thead>
            <tr>
              <th>Exercise Name</th>
              <th>Weight</th>
              <th>Reps</th>
              <th>Target Reps</th>
              <th>RPE</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let set of workout.sets">
              <ng-container #viewSet *ngIf="set.id != setBeingUpdated; else updateSet">
                <td>{{set.exerciseName}}</td>
                <td>{{set.weight}} {{set.weight ? set.weightUnit : ''}}</td>
                <td>{{set.reps}}</td>
                <td>{{set.targetReps}}</td>
                <td>{{set.rpe | rpe}}</td>
                <td>
                  <app-table-actions (deleteClicked)="this.deleteSet(set.id)" (editClicked)="this.startUpdatingSet(set.id)" *ngIf="!setBeingUpdated"></app-table-actions>
                </td>
              </ng-container>
              <ng-template [formGroup]="updateSetForm" #updateSet>
                <td>
                  <select class="form-control" formControlName="exerciseId">
                    <option *ngFor="let exercise of exerciseList" [value]="exercise.id">{{exercise.name}}</option>
                  </select>
                </td>
                <td><input type="number" class="form-control" id="weight" formControlName="weight" min="0" step="1"></td>
                <td><input type="number" class="form-control" id="reps" formControlName="reps" min="0" step="1"></td>
                <td><input type="number" class="form-control" id="targetReps" formControlName="targetReps" min="0" step="1"></td>
                <td><input type="number" class="form-control" id="rpe" formControlName="rpe" min="0" max="10" step="0.5"></td>
                <td></td>
              </ng-template>
            </tr>
            <tr [formGroup]="newSetForm" *ngIf="!setBeingUpdated">
              <td>
                <select class="form-control" formControlName="exerciseId">
                  <option *ngFor="let exercise of exerciseList" [value]="exercise.id">{{exercise.name}}</option>
                </select>
              </td>
              <td><input type="number" class="form-control" id="weight" formControlName="weight" min="0" step="1"></td>
              <td><input type="number" class="form-control" id="reps" formControlName="reps" min="0" step="1"></td>
              <td><input type="number" class="form-control" id="targetReps" formControlName="targetReps" min="0" step="1"></td>
              <td><input type="number" class="form-control" id="rpe" formControlName="rpe" min="0" max="10" step="0.5"></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="btn-group">
          <button class="btn btn-primary" (click)="logNewSet()" [class.disabled]="this.addingSet">{{setBeingUpdated ? 'Update' : 'Add'}} Set</button>
          <button class="btn btn-warning" [class.disabled]="this.addingSet" (click)="stopUpdatingSet()" *ngIf="setBeingUpdated">Cancel</button>
        </div>
      </div>
      <ng-template #loading>
        <div class="mb-2 text-center">
          <div class="spinner-grow me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
      
      
    </app-card>
  </div>
</div>

<app-workout-details-editor 
  [workoutId]="id"
  [initialDate]="workout.entryDateUTC"
  [initialTitle]="workout.title"
  [bodyweight]="workout.bodyweight"
  [bodyweightUnit]="workout.bodyweightUnit">
</app-workout-details-editor>