<h1 class="h3 mb-3">Workouts</h1>
<div class="row">

  <div class="col-12">
    <app-card cardTitle="My Workout List">
      <button class="btn btn-primary buttons-copy buttons-html5" routerLink="new">Log New Workout</button>
      <table *ngIf="workoutList; else workoutListLoading"
        class="table table-striped dataTable no-footer dtr-inline collapsed">
        <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th style="width:10%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let workout of workoutList">
            <td>{{workout.entryDateUTC | date:'short'}}</td>
            <td>{{workout.title}}</td>
            <td class="table-action">
              <app-table-actions (deleteClicked)="this.deleteWorkout(workout.id)"
                (editClicked)="this.editWorkout(workout.id)"></app-table-actions>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #workoutListLoading>
        <div class="mb-2 text-center">
          <div class="spinner-grow me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" (pageChange)="getWorkoutPage()"></ngb-pagination>
    </app-card>
  </div>

</div>