<h1 class="h3 mb-3">Workouts</h1>
<div class="row">

  <div class="col-12">
    <app-card cardTitle="My Workout List">
      <table *ngIf="workoutList; else workoutListLoading" class="table table-striped dataTable no-footer dtr-inline collapsed">
        <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th style="width:10%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let workout of workoutList">
            <td>{{workout.entryDateUTC | date:'short'}}</td>
            <td>{{workout.title}}</td>
            <td class="table-action">
              <a [routerLink]="['edit', workout.id]">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
              </a>
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #workoutListLoading>
        <div class="mb-2 text-center">
          <div class="spinner-grow me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
      <button class="btn btn-primary buttons-copy buttons-html5" routerLink="new">Log New Workout</button>
    </app-card>
  </div>

</div>