<div class="row">

  <app-card cardTitle="Workout Details">
    <form [formGroup]="form" id="validation-form" (ngSubmit)="onSubmit()">
      <div class="mb-3 error-placeholder">
        <label>Date</label>
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" id="date"
          formControlName="date" [(ngModel)]="pickerDate" />
        <button class="btn btn-outline-secondary bi bi-calendar3 mt-2" (click)="d.toggle()" type="button">Pick
          Date</button>
      </div>
      <div class="mb-3 error-placeholder">
        <label>Time</label>
        <ngb-timepicker formControlName="time" [(ngModel)]="pickerTime"></ngb-timepicker>
      </div>
      <div class="mb-3 error-placeholder">
        <label>Title</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="mb-3 error-placeholder">
        <label>Bodyweight</label>
        <input type="number" min="0" max="1000" class="form-control" id="bodyweight" formControlName="bodyweight">
        <br>
        <label class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="bodyweightUnit" value="lbs" formControlName="bodyweightUnit">
          <span class="form-check-label">
            lbs
          </span>
        </label>
        <label class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="bodyweightUnit" value="kg" formControlName="bodyweightUnit">
          <span class="form-check-label">
            kg
          </span>
        </label>
      </div>
      <div class="mb-3 error-placeholder" *ngIf="workoutId">
        <label>Notes</label>
        <textarea type="text" class="form-control" id="notes" formControlName="notes" style="height: 200px"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-sm btn-primary" [class.disabled]="!enableSubmit || !form.valid">{{workoutId ? 'Update':
          'Create'}}</button>
        <button class="btn btn-sm btn-secondary" [class.disabled]="!this.enableSubmit" routerLink="/workouts"
          *ngIf="!workoutId">Cancel</button>
      </div>
    </form>
  </app-card>

</div>