@{
    ViewData["Title"] = "Home Page";
}

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }


    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    /* GLOBAL STYLES
            -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
        padding-top: 1rem;
        padding-bottom: 3rem;
        color: #5a5a5a;
    }


    /* CUSTOMIZE THE CAROUSEL
            -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
        margin-bottom: 4rem;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        bottom: 3rem;
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel-item {
        height: 32rem;
    }


    /* MARKETING CONTENT
            -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }
    /* rtl:begin:ignore */
    .marketing .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }
    /* rtl:end:ignore */


    /* Featurettes
            ------------------------- */

    .featurette-divider {
        margin: 5rem 0; /* Space out the Bootstrap <hr> more */
    }

    /* Thin out the marketing headings */
    /* rtl:begin:remove */
    .featurette-heading {
        letter-spacing: -.05rem;
    }

    /* rtl:end:remove */

    /* RESPONSIVE CSS
            -------------------------------------------------- */

    @@media (min-width: 40em) {
        /* Bump up size of carousel content */
        .carousel-caption p {
            margin-bottom: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.4;
        }

        .featurette-heading {
            font-size: 50px;
        }
    }

    @@media (min-width: 62em) {
        .featurette-heading {
            margin-top: 7rem;
        }
    }

    /* Custom stuff */

    .screenshot {
        padding: 5px;
        border-style: solid;
        border-width: 6px;
        border-radius: 8px;
        border-color: #495057;
        max-height: 600px;
    }

    .screenshot-container {
        text-align: center;
    }

    featurette-image
</style>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
    </symbol>
</svg>

<div class="container">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="~/assets/dark_logo_transparent@4x-8.png" width="200" height="103" />
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">

                <a class="me-3 py-2 text-dark text-decoration-none" href="/app/dashboard">Login</a>
                <a class="btn btn-primary py-2 text-decoration-none" href="/app/iam/signup">Create Account</a>
            </nav>
        </div>

    </header>
</div>

<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark text-white" style="background-image: url('/assets/banner.jpg'); background-position: center;">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal text-white">Start logging with Strength Journal</h1>
            <p class="lead font-weight-normal">
                Strength Journal is a digital replacement for the traditional pen and paper workout journal. Easily find the information you need to choose the weight on the bar
                and seamlessly log your sets.
            </p>
            <a class="btn btn-outline-light" href="/app/iam/signup">Get started for free</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
    <div class="container marketing">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Log smarter with the Advanced Workout Editor</h2>
                <p class="lead">
                    Our editor captures the flexible flow of pen and paper workout tracking: select the exercise that you're logging and record the weight, reps performed, target reps and RPE.
                    You can quickly pull up the exercise history to make an informed choice about the weight on the bar. The history includes important context such as bodyweight when the set was performed.
                    Do you find yourself switching between lbs and callibrated kg plates? Seamlessly switch between logging in kg and lbs, and the exercise history will adapt to your selection.
                </p>
            </div>
            <div class="col-md-5 screenshot-container">
                <img src="~/assets/workout-editor.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto screenshot" />
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Define a personalized exercise library</h2>
                <p class="lead">
                    Create a custom library of the exercises that you train, and view a detailed history of sets performed.
                </p>
            </div>
            <div class="col-md-5 order-md-1 screenshot-container">
                <img src="~/assets/exercise-editor.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto screenshot" />
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Visualize weekly volume with detailed reports</h2>
                <p class="lead">
                    When you land on the Strength Journal dashboard, you'll see an eight-week report on sets performed, and total tonnage on the Squat, Bench and Deadlift.
                </p>
            </div>
            <div class="col-md-5 screenshot-container">
                <img src="~/assets/reports.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto screenshot" />
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
</main>

<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2022 Strength Journal · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>

<script>
    if (localStorage.getItem('app_token')) {
        window.location.replace('/app/dashboard');
    }
</script>