<div class="main d-flex justify-content-center w-100">
  <main class="content d-flex p-0">
    <div class="container d-flex flex-column">
      <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
          <div class="d-table-cell align-middle">

            <div class="text-center mt-4">
              <h1 class="h2"><img src="assets/dark_logo_transparent@4x-8.png" width="200" height="103" /></h1>
              <p class="lead">
                Login to your existing Strength Journal account
              </p>
            </div>

            <div class="card">
              <div class="card-body">
                <div class="m-sm-4">
                  <div class="text-center" style="display: none">
                    <img src="assets/dark_logo_transparent@4x-8.png" width="200" height="103" />
                  </div>

                  <div class="alert alert-primary p-3" role="alert" style="display: none">
                    <p>Your must verifiy your email before signing. You can <a href="/send-verification">re-send</a> the
                      verification email if it has been lost.</p>
                  </div>

                  <form method="POST" id="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                      <label class="form-label">Email</label>
                      <input [(ngModel)]="formEmail" class="form-control form-control-lg" id="email" type="email" name="email"
                        placeholder="Enter your email" />
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Password</label>
                      <input [(ngModel)]="formPassword" class="form-control form-control-lg" id="password" type="password" name="password"
                        placeholder="Enter your password" />
                      <small>
                        <a href="/reset-password">Forgot password?</a>
                      </small>
                    </div>
                    <div class="text-center mt-3">
                      <button type="submit" class="btn btn-lg btn-primary" [class.disabled]="processing">Sign in</button>
                    </div>
                  </form>
                  <div>
                    <p class="text-center mt-3">
                      Don't have an account? <a href="/signup">Sign up!</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>