<app-toast></app-toast>
<ng-container *ngIf="!noNav; else noNavOutlet">
  
  <div class="wrapper" >
    <app-nav id="sidebar" class="sidebar" [class.collapsed]="navCollapsed"></app-nav>

    <div class="main">
      <app-header [userFullName]="userFullName" (navToggleClicked)="toggleNav()"></app-header>
      <main class="content">
        <div class="container-fluid p-0">
          <router-outlet *ngIf="!configUpdating"></router-outlet>
        </div>
      </main>

      <app-footer></app-footer>
    </div>
  </div>

</ng-container>
<ng-template #noNavOutlet>
  <router-outlet></router-outlet>
</ng-template>
<app-blocking-spinner *ngIf="showSpinner">
</app-blocking-spinner>