<h1 class="h3 mb-3">Edit Exercise</h1>
<div class="row">

  <app-card cardTitle="Exercise Details">
    <form [formGroup]="form" id="validation-form" (ngSubmit)="onSubmit()" *ngIf="!loadingData; else loading">
      <div class="mb-3 error-placeholder">
        <label>Name</label>
        <input type="text" class="form-control disabled" id="name" formControlName="name">
      </div>
      <div class="mb-3 error-placeholder">
        <label>Parent Exercise</label>
        <select class="form-control" formControlName="parentExerciseId" [class.disabled]="!exerciseList">
          <option [ngValue]="null"></option>
          <option *ngFor="let exercise of exerciseList ?? []" [value]="exercise.id">{{exercise.name}}</option>
        </select>
      </div>
      <div>
        <button type="submit" class="btn btn-sm btn-primary" [class.disabled]="!this.enableSubmit">Save</button>
        <button class="btn btn-sm btn-secondary" [class.disabled]="!this.enableSubmit" routerLink="/exercises">Cancel</button>
      </div>
    </form>
    <ng-template #loading>
      <div class="mb-2 text-center">
        <div class="spinner-grow me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>
  </app-card>

</div>