<h1 class="h3 mb-3">Dashboard</h1>
<div class="row">

  <div class="col-12">
    <app-card cardTitle="Start Logging Now">
      <p>Log a new workout to record your training session's sets.</p>
      <div class="mt-auto">
        <a class="btn btn-lg btn-primary" routerLink="workouts/new">Log New Workout</a>
      </div>
    </app-card>
  </div>

  <div class="col-12 col-lg-6">
    <app-card cardTitle="Weekly Volume Report" >
      <canvas id="volume-chart">
      </canvas>
      <div class="mb-2 text-center" *ngIf="!volumeChartLoaded">
        <div class="spinner-grow me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </app-card>
  </div>

  <div class="col-12 col-lg-6">
    <app-card cardTitle="Weekly SBD Tonnage Report">
      <canvas id="tonnage-chart">
      </canvas>
      <div class="mb-2 text-center" *ngIf="!tonnageChartLoaded">
        <div class="spinner-grow me-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </app-card>
  </div>

  <div class="col-12"  *ngIf="enableWorkoutHistory()">
    <p>Workout history stub.</p>
  </div>

</div>
