<div id="page-mask"></div>
<span class="sr-only">Loading...</span>
<div class="modal fade show" id="defaultModalDanger" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body m-3">
        <ng-content></ng-content>
        <div class="mb-2 text-center">
          <div class="spinner-border me-2" role="status">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>