<h1 class="h3 mb-3">Exercises</h1>
<div class="row">

  <div class="col-12">
    <app-card cardTitle="My Exercise List">
      <button class="btn btn-primary buttons-copy buttons-html5" routerLink="new">New Exercise</button>
      <div class="mt-3 error-placeholder">
        <label>Search by name</label>
        <input (input)="searchInputChange($event)" class="form-control mb-3" id="nameSearch">
      </div>
      <p>
        * indicates a system exercise that cannot be deleted or modified.
      </p>
      <table *ngIf="exerciseList; else exerciseListLoading" class="table table-striped dataTable no-footer dtr-inline collapsed">
        <thead>
          <tr>
            <th>Name</th>
            <th style="width: 10%">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exercise of exerciseList">
            <td><a [routerLink]="exercise.id">{{exercise.name}}</a><span *ngIf="exercise.systemDefined"> *</span></td>
            <td class="table-action">
              <app-table-actions *ngIf="!exercise.systemDefined" (deleteClicked)="this.deleteExercise(exercise.id)"></app-table-actions>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #exerciseListLoading>
        <div class="mb-2 text-center">
          <div class="spinner-grow me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" (pageChange)="getExercisePage()"></ngb-pagination>
    </app-card>
  </div>

</div>

<app-confirm-delete *ngIf="stagedDelete" (dismissDeleteEvent)="dismissDeleteExercise()" (confirmDeleteEvent)="confirmDeleteExercise()">
  Deleting this exercise will also delete all related sets. Are you sure you would like to continue?
</app-confirm-delete>