<h1 class="h3 mb-3">Exercises</h1>
<div class="row">

  <div class="col-12">
    <app-card cardTitle="My Exercise List">
      <table *ngIf="systemExerciseList; else systemExerciseListLoading" class="table table-striped dataTable no-footer dtr-inline collapsed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Personal Best</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let systemExercise of systemExerciseList">
            <td>{{systemExercise.name}}</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
      <ng-template #systemExerciseListLoading>
        <div class="mb-2 text-center">
          <div class="spinner-grow me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
      <button class="btn btn-primary buttons-copy buttons-html5" routerLink="new">New Exercise</button>
    </app-card>
  </div>

</div>