<h1 class="h3 mb-3">New Exercise</h1>
<div class="row">

  <app-card cardTitle="Exercise Details">
    <form [formGroup]="form" id="validation-form" (ngSubmit)="onSubmit()">
      <div class="mb-3 error-placeholder">
        <label>Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-primary" [class.disabled]="!this.enableSubmit">Create</button>
        <button class="btn btn-warning" [class.disabled]="!this.enableSubmit" routerLink="/exercises">Cancel</button>
      </div>
      
    </form>
  </app-card>

</div>