/* You can add global styles to this file, and also import other style files */
.btn {
  margin-right: 4px;
}

#page-mask {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1 {
  margin-left: 1em;
}

.content {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}