@{
    ViewData["Title"] = "Home Page";
}

<p>
    Home Stubb
</p>

<script>
/*
    In the future we would trigger a redirect if a valid session exists
*/
window.location.replace('/app');
</script>