@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
  <nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
      <a class="sidebar-brand" href="index.html">
        <span class="align-middle me-3">Strength Journal</span>
      </a>

      <ul class="sidebar-nav">
        <li class="sidebar-item active">
          <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Pages</span>
          </a>
          <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
            <li class="sidebar-item active"><a class="sidebar-link" href="dashboard-default.html">Default</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="dashboard-analytics.html">Analytics</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="dashboard-saas.html">SaaS</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="dashboard-social.html">Social</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="dashboard-crypto.html">Crypto</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </nav>
  <main class="content">
    <div class="container-fluid p-0">

      <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
          <h3>Dashboard</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-xxl-3 d-flex">
          <div class="card illustration flex-fill">
            <div class="card-body p-0 d-flex flex-fill">
              <div class="row g-0 w-100">
                <div class="col-6">
                  <div class="illustration-text p-3 m-1">
                    <h4 class="illustration-text">Welcome Back, Chris!</h4>
                    <p class="mb-0">AppStack Dashboard</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xxl-3 d-flex">
          <div class="card flex-fill">
            <div class="card-body py-4">
              <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                  <h3 class="mb-2">$ 24.300</h3>
                  <p class="mb-2">Total Earnings</p>
                  <div class="mb-0">
                    <span class="badge badge-soft-success me-2"> +5.35% </span>
                    <span class="text-muted">Since last week</span>
                  </div>
                </div>
                <div class="d-inline-block ms-3">
                  <div class="stat">
                    <i class="align-middle text-success" data-feather="dollar-sign"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xxl-3 d-flex">
          <div class="card flex-fill">
            <div class="card-body py-4">
              <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                  <h3 class="mb-2">43</h3>
                  <p class="mb-2">Pending Orders</p>
                  <div class="mb-0">
                    <span class="badge badge-soft-danger me-2"> -4.25% </span>
                    <span class="text-muted">Since last week</span>
                  </div>
                </div>
                <div class="d-inline-block ms-3">
                  <div class="stat">
                    <i class="align-middle text-danger" data-feather="shopping-bag"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xxl-3 d-flex">
          <div class="card flex-fill">
            <div class="card-body py-4">
              <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                  <h3 class="mb-2">$ 18.700</h3>
                  <p class="mb-2">Total Revenue</p>
                  <div class="mb-0">
                    <span class="badge badge-soft-success me-2"> +8.65% </span>
                    <span class="text-muted">Since last week</span>
                  </div>
                </div>
                <div class="d-inline-block ms-3">
                  <div class="stat">
                    <i class="align-middle text-info" data-feather="dollar-sign"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </main>
</div>