@{
    ViewData["Title"] = "Home Page";
}

<p>
    Home Stubb
</p>

<script>
/*
    In the future we would trigger a redirect if a valid session exists
*/
if (localStorage.getItem('app_username')) {
    window.location.replace('/app');
}
</script>