<app-toast></app-toast>

<div class="wrapper" *ngIf="!configUpdating">
  <app-nav id="sidebar" class="sidebar" [class.collapsed]="navCollapsed"></app-nav>
  
  <div class="main">
    <app-header [userFullName]="userFullName" (navToggleClicked)="toggleNav()"></app-header>
    <main class="content">
      <div class="container-fluid p-0">
        <router-outlet></router-outlet>
      </div>
    </main>

    <app-footer></app-footer>
  </div>
</div>

<app-blocking-spinner *ngIf="showSpinner">
</app-blocking-spinner>