<ng-container [formGroup]="form">
  <td>
    <select 
      class="form-control" 
      formControlName="exerciseId" 
      [class.is-invalid]="exerciseError"
      (change)="onExerciseSelectionChange($event)"
    >
      <option *ngFor="let exercise of exerciseList" [value]="exercise.id">{{exercise.name}}</option>
    </select>
  </td>
  <td><input type="number" class="form-control" id="weight" formControlName="weight" min="0" step="1"></td>
  <td><input type="number" class="form-control" id="reps" formControlName="reps" min="0" step="1"></td>
  <td><input type="number" class="form-control" id="rpe" formControlName="rpe"
      min="0" max="10" step="0.5"></td>
</ng-container>